.theme1{
    color: aquamarine;
    background-color: cadetblue;
    font-size: 25px;

}
.theme2{
    color:blanchedalmond;
    background-color: color-mix(200,189,166);
    font-size: 10px;
}
.theme3{
    color:gold;
    background-color: brown;
    font-size: 40px;
    border-style: dotted;
}
.theme4{
    color: black;
    background-color: bisque;
    font-size: 40px;
    

}
